APScheduler==3.0.0
Chameleon==2.16
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
PasteDeploy==1.5.2
Pygments==1.6
SQLAlchemy==0.9.7
WebOb==1.4
amqp==1.4.6
anyjson==0.3.3
distribute==0.7.3
kombu==3.0.23
pyramid==1.5.1
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.2
pyramid-jinja2==2.3.3
pyramid-mako==1.0.2
pyramid-scheduler==0.3.1
pyramid-tm==0.7
pytz==2014.7
repoze.lru==0.6
requests==2.4.3
six==1.8.0
transaction==1.4.3
translationstring==1.1
tzlocal==1.1.1
venusian==1.0
waitress==0.8.9
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.5
